<!doctype html>
<html lang="en-US">
<head>
{{#with blog}}
<title>{{title}}</title>
<meta charset="utf-8" />
<link rel="icon" href="{{favicon}}" />
<link rel="preload" href="https://cdn.mckayla.cloud/fonts/outfit/Outfit-Variable.woff2"
	as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.mckayla.cloud/nothing.css" />
<link rel="stylesheet" href="/blog.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="og:title" href="{{og_title}}" />
<link rel="og:type" href="website" />
<link rel="og:image" href="{{og_image}}" />
<link rel="og:image:secure_url" href="{{og_image}}" />
</head>
<body>
<main>
<header class="index-header">
<picture>
<source type="image/avif" width=200 height=200 srcset="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.avif" />
<source type="image/webp" width=200 height=200 srcset="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.webp" />
<img width=200 height=200 src="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.png" />
</picture>
<h1>{{title}}</h1>
<p>{{subtitle}}</p>
</header>
{{/with}}
<hr />
{{#each posts}}
{{#with metadata}}
<article>
	<a href="{{../path}}"><h1>{{{title}}}</h1></a>
	<sub>by {{author}}{{#if date}} &mdash; {{date}}{{/if}}</sub>
	{{#if summary}}<div>{{{summary}}}</div>{{/if}}
	<!-- <a href="{{../path}}">Read more</a> -->
</article>
{{/with}}
{{/each}}
<footer>
<nav>
&hearts;
<a href="https://mckayla.dev">McKayla</a> &middot;
<a href="https://twitter.com/partheseas">Twitter</a> &middot;
<a href="https://github.com/aslilac">Github</a> &middot;
<a href="/feed.xml">RSS</a>
</nav>
</footer>
</main>
</body>
</html>