<!doctype html>
<html lang="en-US">
<head>
{{#with blog}}
<title>{{title}}</title>
<meta charset="utf-8" />
<link rel="icon" href="{{favicon}}" />
<link rel="preload" href="https://cdn.mckayla.cloud/fonts/ReenieBeanie-Regular.woff2"
	as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="https://cdn.mckayla.cloud/fonts/Outfit.woff2"
	as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="stylesheet" href="/resources/blog.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="og:title" href="{{og_title}}" />
<link rel="og:type" href="website" />
<link rel="og:image" href="{{og_image}}" />
<link rel="og:image:secure_url" href="{{og_image}}" />
</head>
<body>
<main class="index">
<header>
	<div class="header-wrap">
		<h1 class="main-title">{{title}}</h1>
		<nav class="site-links">
<a href="https://mckayla.blog" style="text-decoration: underline;">Blog</a>
<a href="https://mckayla.art" style="text-decoration: none;">Photolog</a>
<a href="https://mckayla.dev" style="text-decoration: none;">Worklog</a>
</nav>
</div>
<p>{{subtitle}}</p>
</header>
{{/with}}
<hr />
{{#each posts}}
<article class="post-summary">
	<a href="{{path}}"><h1>{{{title}}}</h1></a>
	<sub>by {{author}}{{#if date}} &mdash; {{date}}{{/if}}</sub>
	<!-- <a href="{{path}}">Read more</a> -->
</article>
{{/each}}
<footer>
<nav>
&hearts;
<div class="footer-wrap">
<a href="https://mckayla.dev">McKayla</a> &middot;
<a href="https://github.com/aslilac">Git</a> &middot;
<a href="https://twitch.tv/aslilac">Twitch</a> &middot;
<a href="https://youtube.com/@aslilac">YouTube</a> &middot;
<a href="/feed.xml">RSS</a>
</div>
</nav>
</footer>
</main>
</body>
</html>