<!doctype html>
<html lang="en-US">
<head>
{{#with blog}}
<title>{{title}}</title>
<meta charset="utf-8" />
<link rel="icon" href="{{favicon}}" />
<link rel="preload" href="https://cdn.mckayla.cloud/fonts/outfit/Outfit-Variable.woff2"
	as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="stylesheet" href="/resources/blog.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="og:title" href="{{og_title}}" />
<link rel="og:type" href="website" />
<link rel="og:image" href="{{og_image}}" />
<link rel="og:image:secure_url" href="{{og_image}}" />
</head>
<body>
<main class="index">
<header class="index-header">
<picture>
<source type="image/avif" width=200 height=200 srcset="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.avif" />
<source type="image/webp" width=200 height=200 srcset="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.webp" />
<img width=200 height=200 src="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.png" />
</picture>
<h1>{{title}}</h1>
<p>{{subtitle}}</p>
</header>
{{/with}}
<hr />
{{#each posts}}
<article class="post-summary">
	<a href="{{path}}"><h1>{{{title}}}</h1></a>
	{{#if summary}}<div>{{{summary}}}</div>{{/if}}
	<sub>by {{author}}{{#if date}} &mdash; {{date}}{{/if}}</sub>
	<!-- <a href="{{path}}">Read more</a> -->
</article>
{{/each}}
<footer>
<nav>
&hearts;
<a href="https://mckayla.dev">McKayla</a> &middot;
<a href="https://github.com/aslilac">Github</a> &middot;
<a href="https://twitch.tv/aslilac">Twitch</a> &middot;
<a href="https://youtube.com/@aslilac">YouTube</a> &middot;
<a href="/feed.xml">RSS</a>
<!-- <img style="height: 1em; aspect-ratio: 1;" src="https://cdn.mckayla.cloud/-/58b68b5ed/rss.svg" /> -->
</nav>
</footer>
</main>
</body>
</html>