<!doctype html>
<html lang="en-US">
<head>
<title>Redirecting&hellip;</title>
<meta charset="utf-8" />
<link rel="icon" href="https://cdn.mckayla.cloud/-/764b1512ee1f490a951e9c00d9ded4b2/Doodle.avif" />
<link rel="preload" href="https://cdn.mckayla.cloud/fonts/outfit/Outfit-Variable.woff2"
	as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="stylesheet" href="/resources/blog.css" />
<meta http-equiv="refresh" content="0; url='{{to}}'" />
</head>
<body>
<main>
<header>
<h1>Redirecting&hellip;</h1>
</header>
<hr />
<article>This has been moved to <a href="{{to}}">{{to}}</a>.</article>
<footer>
<nav>
&hearts;
<a href="https://mckayla.dev">McKayla</a> &middot;
<a href="https://github.com/aslilac">Github</a> &middot;
<a href="https://twitch.tv/aslilac">Twitch</a> &middot;
<a href="https://youtube.com/@aslilac">YouTube</a> &middot;
<a href="/feed.xml">RSS</a>
</nav>
</footer>
</main>
<script>
location.href = '{{to}}';
</script>
</body>
</html>
