@font-face {
	font-family: "Reenie Beanie";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("https://cdn.mckayla.cloud/fonts/ReenieBeanie-Regular.woff2") format(woff2);
}

@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-display: swap;
	src: url("https://cdn.mckayla.cloud/fonts/Outfit.woff2") format(woff2);
}

@font-face {
	font-family: "Cormorant";
	font-style: normal;
	font-display: swap;
	src: url("https://cdn.mckayla.cloud/fonts/Cormorant.woff2") format(woff2);
}

@font-face {
	font-family: "Cascadia Code";
	font-style: normal;
	font-display: swap;
	src: url("https://cdn.mckayla.cloud/fonts/CascadiaCode.woff2") format(woff2);
}

:root {
	/* --accent: #f8c; /* pink */
	--accent: #1441e0; /* blue */
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		/* --accent: #fbed7a; /* yellow */
		--accent: #2354ff; /* blue */
	}
}

html {
	font-family: "Outfit", sans-serif;
	font-size: 18px;
	line-height: 1.75;
}

main {
	padding: 3em 5em;
	max-width: 70ch;
}

@media screen and (max-width: 500px) {
	main {
		padding: 3em 2em;
	}
}

main.index {
	max-width: 50ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3em 0 1em;
	line-height: 1.2;
}

body {
	margin: 0;

	background-color: #fff7ec;
	color: #000;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #fff;
	}
}

hr {
	border: 1px solid #7773;
}

h1 {
	margin: 0.5em 0 0;
}

article {
	margin: 2em 0 3em;
}

.post-summary sub {
	opacity: 0.8;
}

.post-summary p {
	margin: 0.5em 0 0;
}

a {
	color: var(--accent);
}

.index header {
	color: var(--accent);
}

.header-wrap {
	font-family: "Reenie Beanie";

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 24px 64px;
}

.main-title {
	font-size: 54px;
}

.site-links {
	display: flex;
	flex-direction: row;
	gap: 64px;
	font-size: 24px;
}

@media screen and (max-width: 500px) {
	.site-links {
		gap: 24px;
	}
}

aside {
	background-color: #8881;
	padding: 16px;
	border-left: 3px solid #8884;
	padding-left: 20px;
}

pre {
	font-size: 14px !important;
}

code,
pre {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace !important;
}

img {
	margin: auto;
	max-width: 100%;
	max-height: 70vh;
}

blockquote {
	margin: 0;
	padding: 0.5em 2em;
	background-color: #9991;
	border-radius: 6px;
}

figure {
	display: inline-block;
}
figcaption {
	font-family: "Cormorant", serif;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

.discussion {
	margin: 5em 0 2em;
}

footer {
	margin-top: 4em;
	margin-bottom: 6em;
}

footer nav {
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
}

.footer-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px 16px;
}

.cover {
	width: 100%;
	height: 55vh;
	height: 275px;
	object-fit: cover;
	object-position: center;
}

@media (orientation: portrait) {
	.cover {
		height: 40vh;
	}
}
