@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("https://cdn.mckayla.cloud/fonts/Outfit.woff2") format(woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	font-family: "Outfit", sans-serif;
	font-size: 38px;
	line-height: 1.75;
}

main section {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100vh;
	padding: 24px 6ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
}

@font-face {
	font-family: "Cormorant";
	font-style: normal;
	font-display: swap;
	src: url("https://cdn.mckayla.cloud/fonts/Cormorant.woff2") format(woff2);
}

@font-face {
	font-family: "Cascadia Code";
	font-style: normal;
	font-display: swap;
	src: url("https://cdn.mckayla.cloud/fonts/CascadiaCode.woff2") format("woff2");
}

body {
	margin: 0;
}

hr {
	border: 1px solid #7773;
}

h1 {
	margin: 0.5em 0 0;
}

article {
	margin: 2em 0 3em;
}

.post-summary p {
	margin: 0;
}

a {
	/*color: #caab00;*/
	/*color: #ca0075;*/
	color: #f8c;
}

.index-header {
	text-align: center;
}

aside {
	background-color: #8881;
	padding: 16px;
	border-left: 3px solid #8884;
	padding-left: 20px;
}

pre {
	font-size: 36px !important;
}

code,
pre {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace !important;
}

img {
	margin: auto;
	max-width: 100%;
	max-height: 70vh;
}

blockquote {
	margin: 0;
	padding: 0.5em 2em;
	background-color: #9991;
	border-radius: 6px;
}

figure {
	display: inline-block;
}
figcaption {
	font-family: "Cormorant", serif;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

.cover {
	object-fit: cover;
	object-position: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	left: 0;
	top: 0;
	max-height: unset; /* annoying */
	filter: brightness(0.9);
}

@media (orientation: portrait) {
	.cover {
		height: 40vh;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1b1b1b;
		color: #fff;
	}

	a {
		/* color: #4d5; */
		color: #fbed7a;
	}
}
