@font-face {
	font-family: "Cormorant";
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url("https://cdn.mckayla.cloud/fonts/CormorantSemiBold.ttf")
		format("truetype");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Cascadia Code";
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url("https://cdn.mckayla.cloud/fonts/CascadiaCode-Variable.woff2")
		format("truetype");
}

body {
	margin: 0;
}

hr {
	border: 1px solid #7773;
}

h1 {
	margin: 0.5em 0 0;
}

article {
	margin: 2em 0 4em;
}

a {
	/*color: #caab00;*/
	/*color: #ca0075;*/
	color: #f8c;
}

.index-header {
	text-align: center;
}

aside {
	background-color: #8881;
	padding: 16px;
	border-left: 3px solid #8884;
	padding-left: 20px;
}

pre {
	font-size: 14px !important;
}

code,
pre {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace !important;
}

img {
	margin: auto;
	max-width: 100%;
	max-height: 70vh;
}

blockquote {
	margin: 0;
	padding: 0.5em 2em;
	background-color: #9991;
	border-radius: 6px;
}

figure {
	display: inline-block;
}
figcaption {
	font-family: "Cormorant", serif;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

.discussion {
	margin: 5em 0 2em;
}

footer {
	margin-top: 4em;
	margin-bottom: 6em;
}

footer nav {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.cover {
	width: 100%;
	height: 55vh;
	height: 200px;
	object-fit: cover;
}

@media (orientation: portrait) {
	.cover {
		height: 40vh;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1b1b1b;
		color: #fff;
	}

	a {
		/* color: #4d5; */
		color: #fbed7a;
	}
}
